<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="pong-defense-image" 
            src="assets/images/pong-defense.png" 
            alt="Pong Defense"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Pong Defense</h1>
        <p class="text-roles">Game Designer; Narrative Designer</p>

        <p class="text-description">{{ texts().description }}</p>

        <p class="bullet-point-text"><span>•</span> {{ texts().bullet1 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet2 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet3 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet4 }}</p>

        <a href="https://denisespanhol.itch.io/pong-defense" target="_blank" class="game-link">{{ texts().gameLink }}</a>
    </div>

    <div class="images-container">
        <div class="gif-container">
            <img 
                class="pong-defense-gif" 
                src="assets/images/pong-gif1.gif"
                alt="Pong Defense Gameplay"
            />

            <img 
                class="pong-defense-gif" 
                src="assets/images/pong-gif2.gif"
                alt="Pong Defense Gameplay"
            />

            <img 
                class="pong-defense-gif" 
                src="assets/images/pong-gif3.gif"
                alt="Pong Defense Gameplay"
            />
        </div>
    </div>

    <a [routerLink]="['/']" [fragment]="'jam-games'" class="back-button">
        <span class="back-arrow">←</span> {{ texts().backButton }}
    </a>
</div>
