<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="pong-defense-image" 
            src="assets/images/pong-defense.png" 
            alt="Pong Defense"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Pong Defense</h1>
        <p class="text-roles">Game Designer; Narrative Designer</p>

        <p class="text-description">Pong Defense foi criado durante a Game Jam Plus 23/24, na engine Godot, seguindo o tema Having Fun Casually. Seu conceito foi pensado para unir o famoso e clássico jogo Pong ao gênero tower defense. Sua narrativa coloca o jogador no controle das goblins feiticeiras Xarlayah e Tiffanyh, que estão defendendo sua vila da invasão de humanos em busca dos recursos naturais do vilarejo. O jogo possui sete níveis e um chefe.</p>

        <p class="bullet-point-text"><span>•</span> Criei o level design das fases, bem como as mecânicas do jogo;</p>
        <p class="bullet-point-text"><span>•</span> Criei o design do chefe e das habilidades especiais;</p>
        <p class="bullet-point-text"><span>•</span> Construí a narrativa apresentada;</p>
        <p class="bullet-point-text"><span>•</span> Apliquei testes e balanceamento;</p>

        <a href="https://denisespanhol.itch.io/pong-defense" target="_blank" class="game-link">Visite a página no Itch.io!</a>
    </div>

    <div class="images-container">
        <div class="gif-container">
            <img 
                class="pong-defense-gif" 
                src="assets/images/pong-gif1.gif"
                alt="Pong Defense Gameplay"
            />

            <img 
                class="pong-defense-gif" 
                src="assets/images/pong-gif2.gif"
                alt="Pong Defense Gameplay"
            />

            <img 
                class="pong-defense-gif" 
                src="assets/images/pong-gif3.gif"
                alt="Pong Defense Gameplay"
            />
        </div>
    </div>
</div>
