.about-container {
    margin-top: 250px;
    margin-left: 230px;
}

.about-paragraph {
    font-family: 'Inter Font';
    font-size: 20px;
    line-height: 1.5;
    color: #F5F3E7;
}

.word-griph {
    color: #A78BFA;
    font-style: italic;
}