<div class="about-container">
    <p class="about-paragraph">Sou um designer de narrativa júnior, cheio de ideias e paixão por criar! Sou graduado em Pedagogia pela Unisal, graduando em Jogos Digitais pela Fatec-AM e especialista em Narrativa Artística pela A Casa Tombada.</p>
    <p class="about-paragraph">Migrei do campo das artes cênicas (onde atuei como ator, dramaturgo e arte-educador) para o campo da tecnologia, buscando aprender sobre programação e desenvolvimento de jogos de forma geral.</p>
    <p class="about-paragraph">Atualmente, tenho a honra de estagiar como desenvolvedor na CI&T e de trabalhar no desenvolvimento do jogo <span class="word-griph">Between Heaven and Hell</span>, um RPG de fantasia sombria inspirado em Clair Obscur: Expedition 33 e Persona 2.</p>
</div>
