.about-container {
    margin: 30% 8% 0 8%;
}

.about-paragraph {
    font-family: 'Inter Font';
    font-size: 1.025rem;
    line-height: 1.35;
    color: #F5F3E7;
}

.word-griph {
    color: #A78BFA;
    font-style: italic;
}

/* DESKTOP */
@media (min-width: 1200px) {
    .about-container {
        margin-top: 30%;
        margin-left: 230px;
    }

    .about-paragraph {
        font-family: 'Inter Font';
        font-size: 1.25rem;
        line-height: 1.5;
        color: #F5F3E7;
    }
}