<div class="navbar-container">
    <img
        loading="lazy"
        width="361px"
        height="222px"
        class="profile-picture"
        src="assets/images/profile-picture.png"
        alt="Profile Picture" />

        <div class="text-container">
            <h1 class="font-title">Denis Espanhol</h1>
            <p id="subtitle">Narrative Designer <span class="separator-color">|</span> Game Writer <span class="separator-color">|</span> Game Programmer</p>
            <p class="text-resume">Crio experiências através das palavras e personagens que nascem da minha imaginação.</p>
        </div>
        <div class="link-container">
            <a href="#about" class="navbar-link"><span id="bullet-point">•</span> About</a>
        </div>
</div>