.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

.profile-picture {
    padding: 20% 0 0 0;
    width: 17.063rem;
    height: 10rem;
}

.font-title {
    font-family: 'Title Font';
    color: #A78BFA;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 2.1rem;
    margin: 0;
    white-space: nowrap;
 }

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.link-container {
    display: none;
}

.link-container-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

#subtitle {
    font-family: 'Inter Font';
    font-size: 0.616rem;
    color: #F5F3E7;
    margin-top: 3px;
    letter-spacing: 0.2px;
    white-space: nowrap;
}

.separator-color {
    color: #C9A227;
}

.text-resume {
    font-family: 'Inter Font';
    font-weight: 300;
    font-size: 0.7rem;
    color: #E6E1FF;
    width: 17.25rem;
}

.navbar-link {
    font-family: 'Inter Font';
    font-weight: 400;
    font-size: 1rem;
    margin-top: 5%;
    color: #F5F3E7;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-link:hover {
    color: #A78BFA;
    font-weight: 600;
}

#bullet-point {
    color: #C9A227;
    margin-right: 10px;
}

.icons-container {
    display: flex;
    align-self: center;
    gap: 10px;
    margin-top: 40px;
}

.icons-svg {
  color: #A78BFA;
  transition: 0.3s;
}

.icons-svg:hover {
  color: #C9A227;
  transform: scale(1.1);
}

/* DESKTOP */
@media (min-width: 1200px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
    }

    .profile-picture {
        padding: 20% 0 0 0;
        width: 20.063rem;
        height: 11.375rem;
    }

    .font-title {
        font-family: 'Title Font';
        color: #A78BFA;
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 2.5rem;
        margin: 0;
        white-space: nowrap;
    }

    .link-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }

    .link-container-mobile {
        display: none;
    }

    #subtitle {
        font-family: 'Inter Font';
        font-size: 0.738rem;
        color: #F5F3E7;
        margin-top: 3px;
        letter-spacing: 0.2px;
        white-space: nowrap;
    }

    .text-resume {
        font-family: 'Inter Font';
        font-weight: 400;
        font-size: 0.875rem;
        color: #E6E1FF;
        width: 330px;
    }

    .navbar-link {
        font-family: 'Inter Font';
        font-weight: 400;
        font-size: 1rem;
        color: #F5F3E7;
        text-decoration: none;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    .icons-container {
        display: flex;
        margin-top: auto;
        margin-bottom: 15%;
        align-self: center;
        gap: 10px;
    }
}

@media (min-width: 1800px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 100%;
    }

    .link-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        width: auto;
        margin-top: 20px;
    }

    .link-container-mobile {
        display: none;
    }

    .font-title {
        font-family: 'Title Font';
        color: #A78BFA;
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 2.5rem;
        margin: 0;
        white-space: nowrap;
    }

    #subtitle {
        font-family: 'Inter Font';
        font-size: 0.74rem;
        color: #F5F3E7;
        margin-top: 3px;
        letter-spacing: 0.2px;
        white-space: nowrap;
    }

    .text-resume {
        font-family: 'Inter Font';
        font-weight: 400;
        font-size: 1rem;
        color: #E6E1FF;
        width: 330px;
    }

    .navbar-link {
        font-family: 'Inter Font';
        font-weight: 400;
        font-size: 1rem;
        color: #F5F3E7;
        text-decoration: none;
        margin-bottom: 20px;
        white-space: nowrap;
    }

    .icons-container {
        display: flex;
        margin-top: auto;
        margin-bottom: 15%;
        align-self: center;
        gap: 10px;
    }
}