<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="spooky-workers-image" 
            src="assets/images/spooky-workers.png" 
            alt="Spooky Workers"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Spooky Workers</h1>
        <p class="text-roles">Game Designer; Game Programmer</p>

        <p class="text-description">{{ texts().description }}</p>

        <p class="bullet-point-text"><span>•</span> {{ texts().bullet1 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet2 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet3 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet4 }}</p>

        <a href="https://dazzlight.itch.io/spooky-workers" target="_blank" class="game-link">{{ texts().gameLink }}</a>
    </div>

    <div class="images-container">
        <div class="gif-container">
            <img 
                class="spooky-workers-gif" 
                src="assets/images/spooky-gif1.gif"
                alt="Spooky Workers Gameplay"
            />

            <img 
                class="spooky-workers-gif" 
                src="assets/images/spooky-gif2.gif"
                alt="Spooky Workers Gameplay"
            />

            <img 
                class="spooky-workers-gif" 
                src="assets/images/spooky-gif3.gif"
                alt="Spooky Workers Gameplay"
            />
        </div>
    </div>

    <a [routerLink]="['/']" [fragment]="'pro-games'" class="back-button">
        <span class="back-arrow">←</span> {{ texts().backButton }}
    </a>
</div>