<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="spooky-workers-image" 
            src="assets/images/spooky-workers.png" 
            alt="Spooky Workers"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Spooky Workers</h1>
        <p class="text-roles">Game Designer; Game Programmer</p>

        <p class="text-description">Spooky Workers é um protótipo criado com recursos da Lei Paulo Gustavo, em 2024. O conceito do jogo se inspira na série Scooby-Doo para trazer alívio cômico a um contexto “assustador”. O jogo é um puzzle platformer que se concentra na vida de um estagiário medroso de uma casa de horrores, que precisa assustar os clientes com sucesso (sem assustar a si mesmo) para conseguir ser efetivado no emprego.</p>

        <p class="bullet-point-text"><span>•</span> Criei o level design das fases, bem como as mecânicas do jogo;</p>
        <p class="bullet-point-text"><span>•</span> Construí a narrativa e a história do jogo;</p>
        <p class="bullet-point-text"><span>•</span> Auxiliei na programação das mecânicas e em outras necessidades;</p>
        <p class="bullet-point-text"><span>•</span> Participei dos testes e do balanceamento;</p>

        <a href="https://dazzlight.itch.io/spooky-workers" target="_blank" class="game-link">Visite a página no Itch.io!</a>
    </div>

    <div class="images-container">
        <div class="gif-container">
            <img 
                class="spooky-workers-gif" 
                src="assets/images/spooky-gif1.gif"
                alt="Spooky Workers Gameplay"
            />

            <img 
                class="spooky-workers-gif" 
                src="assets/images/spooky-gif2.gif"
                alt="Spooky Workers Gameplay"
            />

            <img 
                class="spooky-workers-gif" 
                src="assets/images/spooky-gif3.gif"
                alt="Spooky Workers Gameplay"
            />
        </div>
    </div>
</div>