<div class="jam-container">
    <h1 class="main-title">Jam Games</h1>

    <div class="games-view">

        <div class="game-card">
            <a href="/pong-defense">
                <img src="/assets/images/pong-defense.png" alt="Pong Defense" class="game-image">
                <p class="title-game">Pong Defense <span class="separator-color">|</span> GJ Plus 23/24</p>
                <p class="function-game">Game Designer; Narrative Designer</p>
            </a>
        </div>

        <div class="game-card">
            <a href="http://">
                <img src="/assets/images/violent-hearts.png" alt="Violent Hearts" class="game-image">
                <p class="title-game">Violent Hearts <span class="separator-color">|</span> Ctrl Alt Jam #2</p>
                <p class="function-game">Game Designer; Game Programmer</p>
            </a>
        </div>
    </div>
</div>
