<div class="professional-container">
    <h1 class="main-title">Professional Games</h1>
    
    <div class="games-view">
        
        <div class="game-card">
            <a routerLink="/shard-squad">
                <img src="/assets/images/shard-squad.jpg" alt="Shard Squad" class="game-image">
                <p class="title-game">Shard Squad <span class="separator-color">|</span> The Root Studios</p>
                <p class="function-game">Game Designer; Narrative Designer</p>
            </a>
        </div>
        

        <div class="game-card">
            <a routerLink="/spooky-workers">
                <img src="/assets/images/spooky-workers.png" alt="Spooky Workers" class="game-image">
                <p class="title-game">Spooky Workers <span class="separator-color">|</span> Dazzlight Studio</p>
                <p class="function-game">Game Designer; Game Programmer</p>
            </a>
        </div>
    </div>
</div>
