<div class="professional-container">
    <h1 class="main-title">Professional Games</h1>
    
    <div class="games-view">
        <div class="game-card">
            <img src="/assets/images/shard-squad.jpg" alt="Shard Squad" class="game-image">
            <p class="title-game">Shard Squad <span class="separator-color">|</span> The Root Studios</p>
            <p class="function-game">Game Designer; Narrative Designer</p>
        </div>

        <div class="game-card">
            <img src="/assets/images/spooky-workers.jpg" alt="Spooky Workers" class="game-image">
            <p class="title-game">Spooky Workers <span class="separator-color">|</span> Dazzlight Studio</p>
            <p class="function-game">Game Designer; Game Programmer</p>
        </div>
    </div>
</div>
