<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="violent-hearts-image" 
            src="assets/images/violent-hearts.png" 
            alt="Violent Hearts"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Violent Hearts</h1>
        <p class="text-roles">Game Designer; Game Programmer</p>

        <p class="text-description">Violent Hearts foi desenvolvido durante a Ctrl Alt Jam #2, na engine Unity, seguindo o tema Conflito e Dualidade. Foi o primeiro jogo digital criado por mim e pelas pessoas que compuseram o time. O jogo foi pensado para ser um metroidvania curto e desafiador, com uma mecânica de troca de estados (ira e calma). A narrativa do jogo apresenta um opilião morto que retorna à vida carregando o desejo de vingança de seu povo. Esse desejo é capaz de consumir o herói, transformando seu corpo e o tornando violentamente capaz de enfrentar seus inimigos.</p>

        <p class="bullet-point-text"><span>•</span> Criei a mecânica de combate e trabalhei no design geral do jogo;</p>
        <p class="bullet-point-text"><span>•</span> Fiz parte do time de programação;</p>
        <p class="bullet-point-text"><span>•</span> Construí a narrativa apresentada;</p>

        <a href="https://denisespanhol.itch.io/violent-hearts" target="_blank" class="game-link">Visite a página no Itch.io!</a>
    </div>

    <div class="images-container">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/9jekxly3rPk?si=9zMLFOoM96GTfIxL" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>

    <a [routerLink]="['/']" [fragment]="'jam-games'" class="back-button">
        <span class="back-arrow">←</span> Voltar para Jogos de Game Jam
    </a>
</div>

