.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 8% 0 8%;
}

.cover-image-container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
}

.violent-hearts-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 47%;
    box-shadow: 
    inset 0 0 0 1px #C9A227,
    0 0 15px rgba(167, 139, 250, 0.3);
}

.gamejob-description-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
}

.title-game {
    font-family: 'Title Font', sans-serif;
    color: #C9A227;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
    align-self: center;
}

.text-roles {
    font-family: 'Inter Font', sans-serif;
    font-size: 0.82rem;
    color: #E6E1FF;
    margin: 0;
    align-self: center;
}

.text-description {
    font-family: 'Inter Font', sans-serif;
    font-size: 1.025rem;
    line-height: 1.4;
    color: #F5F3E7;
    margin-top: 50px;
}

.bullet-point-text {
    font-family: 'Inter Font', sans-serif;
    font-size: 0.85rem;
    line-height: 1.5;
    color: #F5F3E7;
    margin-top: 10px;
    margin-bottom: 0;
}

.bullet-point-text span {
    color: #C9A227;
}

.game-link {
    font-family: 'Inter Font', sans-serif;
    font-size: 1.2rem;
    color: #C9A227;
    text-decoration: none;
    margin-top: 40px;
    align-self: center;
}

.images-container {
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
}

/* DESKTOP */
@media (min-width: 1200px) {
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10%;
        margin-left: 230px;
    }
    
    .title-game {
        font-family: 'Title Font', sans-serif;
        color: #C9A227;
        letter-spacing: 0.5px;
        font-weight: 300;
        font-size: 2.5rem;
        margin: 0;
        align-self: center;
    }

    .text-roles {
        font-family: 'Inter Font', sans-serif;
        font-size: 1rem;
        color: #E6E1FF;
        margin: 0;
        align-self: center;
    }

    .text-description {
        font-family: 'Inter Font', sans-serif;
        font-size: 1.25rem;
        line-height: 1.4;
        color: #F5F3E7;
        margin-top: 50px;
    }

    .images-container {
        display: flex;
        gap: 20px;
        margin-top: 30px;
        margin-bottom: 50px;
    }
}