<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="violent-hearts-image" 
            src="assets/images/violent-hearts.png" 
            alt="Violent Hearts"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Violent Hearts</h1>
        <p class="text-roles">Game Designer; Game Programmer</p>

        <p class="text-description">{{ texts().description }}</p>

        <p class="bullet-point-text"><span>•</span> {{ texts().bullet1 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet2 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet3 }}</p>

        <a href="https://denisespanhol.itch.io/violent-hearts" target="_blank" class="game-link">{{ texts().gameLink }}</a>
    </div>

    <div class="images-container">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/9jekxly3rPk?si=9zMLFOoM96GTfIxL" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>

    <a [routerLink]="['/']" [fragment]="'jam-games'" class="back-button">
        <span class="back-arrow">←</span> {{ texts().backButton }}
    </a>
</div>

