/* You can add global styles to this file, and also import other style files */

:root {
    --grid-margin-bigscreen: 120px;
    --grid-margin-mobile: 23px;
    --grid-gutter: 24px;
}

@font-face {
    font-family: 'Title Font';
    src: url('assets/fonts/Cinzel/cinzel.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Font';
    src: url('assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

svg {
  width: 33px;
  height: 33px;
}

/* Padrão mobile */
.container {
  width: 100%;
}

.layout {
    display: flex;
    flex-direction: column;
    padding: 0 var(--grid-margin-mobile);
}

body {
    background-color: #140F2D;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* Para telas maiores de 1200px */
@media (min-width: 1200px) {
    .layout {
        display: grid;
        padding: 0 var(--grid-margin-bigscreen);
    }

    svg {
        width: 36px;
        height: 36px;
    }
}