/* You can add global styles to this file, and also import other style files */

:root {
    --grid-margin-bigscreen: 120px;
    --grid-margin-mobile: 24px;
    --grid-gutter: 24px;
}

@font-face {
    font-family: 'Title Font';
    src: url('assets/fonts/Cinzel/cinzel.regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter Font';
    src: url('assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Padrão mobile */
.container {
  width: 100%;
}

.layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 0 var(--grid-margin-mobile);
    gap: var(--grid-gutter);
}

.layout > * {
  
}

.font-title {
    font-family: 'Title Font';
    color: #A78BFA;
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 46px;
    margin: 0;
 }

body {
    background-color: #140F2D;
}

/* Para telas maiores de 1200px */
@media (min-width: 1200px) {
    .layout {
        padding: 0 var(--grid-margin-bigscreen);
  }
}