<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="shard-squad-image" 
            src="assets/images/shard-squad.jpg" 
            alt="Shard Squad"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Shard Squad</h1>
        <p class="text-roles">Game Designer; Narrative Designer</p>

        <p class="text-description">Contribuí criativamente para o desenvolvimento do jogo, colaborando com programadores e artistas enquanto seguia a visão do diretor do projeto. Junto com outros membros da The Root Studio, criamos conteúdos para aprimorar o Core Loop e tornar Shard Squad um destaque em seu gênero.</p>

        <p class="bullet-point-text"><span>•</span> Auxiliei na criação de mecânicas para personagens jogáveis, inimigos, chefes e fases;</p>
        <p class="bullet-point-text"><span>•</span> Desenvolvi a história do jogo, garantindo coesão e consistência com a jogabilidade;</p>
        <p class="bullet-point-text"><span>•</span> Escrevi 32 contos curtos, utilizados no jogo como conteúdos desbloqueáveis, assim como o bestiário com todas as criaturas e NPC's;</p>
        <p class="bullet-point-text"><span>•</span> Colaborei na criação de itens equipáveis e na escrita de suas descrições;</p>
        <p class="bullet-point-text"><span>•</span> Participei dos testes e do balanceamento;</p>

        <a href="https://store.steampowered.com/app/3363560/Shard_Squad/" target="_blank" class="game-link">Visite a página na Steam!</a>
    </div>

    <div class="images-container">
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/Tx7mfujO31E?si=umZFsSK9seHtqVcr" 
            title="Shard Squad Trailer" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            referrerpolicy="strict-origin-when-cross-origin" 
            allowfullscreen>
        </iframe>
    </div>

    <a [routerLink]="['/']" [fragment]="'pro-games'" class="back-button">
        <span class="back-arrow">←</span> Voltar para Jogos Profissionais
    </a>
</div>