<div class="page-container">
    <div class="cover-image-container">
        <img 
            class="shard-squad-image" 
            src="assets/images/shard-squad.jpg" 
            alt="Shard Squad"
        />
    </div>

    <div class="gamejob-description-container">
        <h1 class="title-game">Shard Squad</h1>
        <p class="text-roles">Game Designer; Narrative Designer</p>

        <p class="text-description">{{ texts().description }}</p>

        <p class="bullet-point-text"><span>•</span> {{ texts().bullet1 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet2 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet3 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet4 }}</p>
        <p class="bullet-point-text"><span>•</span> {{ texts().bullet5 }}</p>

        <a href="https://store.steampowered.com/app/3363560/Shard_Squad/" target="_blank" class="game-link">{{ texts().gameLink }}</a>
    </div>

    <div class="images-container">
        <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Tx7mfujO31E?si=umZFsSK9seHtqVcr"
            title="Shard Squad Trailer"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
        </iframe>
    </div>

    <a [routerLink]="['/']" [fragment]="'pro-games'" class="back-button">
        <span class="back-arrow">←</span> {{ texts().backButton }}
    </a>
</div>